#{extends 'main.html' /}
#{set title:'Récapitulatif' /}

<div class="recapitulatif">
    <h1>Recapitulatif de votre commande</h1>
    <p>
        Nom : <b>${commande.nom}</b><br/><br/>
        Adresse :<br/>
        <b>${commande.adresse}<br/>
        ${commande.codePostal}, ${commande.ville}</b><br/><br/>
        Téléphone : <b>${commande.telephone}</b><br/><br/>
        Pizza de taille <b>${commande.taille}</b> à pâte <b>${commande.pate}</b><br/><br/>
        Garnitures :<br/>
        <b>${commande.garniture1}</b><br/>
        <b>${commande.garniture2}</b><br/>
        <b>${commande.garniture3}</b><br/>
        <b>${commande.garniture4}</b><br/>
        <b>${commande.garniture5}</b><br/><br/>
        Prix : <b>${commande.total}</b> €
    </p>
</div>


<form action="@{ClientController.finir}" method="post">
    <input type="hidden" name="idCommande" value=${commande.id}>
    <input type="submit" value="Valider">
</form>