#{extends 'main.html' /}
#{set title:'Création Pizza' /}

<form action="@{ClientController.entrerDonnees}" method="post">
    Choix de la pâte :<br>
    <select name="commande1.pate">
        #{list items:typedePates, as:'pate'}
        <option value="${pate}">${pate}</option>
        #{/list}
    </select>

    <br/><br/>

    Choix de la taille :<br>
    <select name="commande1.taille">
        #{list items:tailles, as:'taille'}
        <option value="${taille}">${taille}</option>
        #{/list}
    </select>

    <br/><br/>

    Choix des garnitures (entre 3 et 5) :<br>
    #{list items:garnitures, as:'i'}
    <input id="nbreGarn" name="garn" type="checkbox" value="${i}">${i}</input>
    #{/list}

    <br/><br/>

    <input id="Button" type="submit" value="Ok">
</form>

#{set 'moreScripts'}
#{script 'jquery'/}
#{/set}