#{extends 'main.html' /}
#{set title:'Création Pizza' /}

<form action="@{ClientController.entrerDonnees}" method="post">
    Choix de la pâte :<br>
    <select name="pate">
        #{list items:typedePates, as:'pate'}
        <option value="${pate}">${pate}</option>
        #{/list}
    </select>

    <br/><br/>

    Choix de la taille :<br>
    <select name="taille">
        #{list items:tailles, as:'taille'}
        <option value="${taille}">${taille}</option>
        #{/list}
    </select>

    <br/><br/>

    <input type="submit" value="Ok">
</form>