#{extends 'main.html' /}
#{set title:'Création Pizza' /}
<div class="creation">
<form action="@{ClientController.entrerDonnees}" method="post">
    Choix de la pâte :<br>
    <select name="pate">
        #{list items:typedePates, as:'pate'}
        <option value="${pate}">${pate}</option>
        #{/list}
    </select>

    <br/><br/>

    Choix de la taille :<br>
    <select name="taille">
        #{list items:tailles, as:'taille'}
        <option value="${taille}">${taille}</option>
        #{/list}
    </select>

    <br/><br/>

    Choix des garnitures (entre 3 et 5) :<br>
    #{list items:garnitures, as:'ingredient'}
    <input id="nbreGarn" name="garn[]" type="checkbox" value="${ingredient}"> <img src="/public/images/${ingredient}.png">
    #{/list}

    <br/><br/>

    <input id="Button" type="submit" value="Ok">
</form>
</div>

#{set 'moreScripts'}
#{script 'jquery'/}
#{/set}