body {
    background-image: url("/public/images/background.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}
#logo {
  float: right;
  margin-top: 2px;
}