#{extends 'mainBackOffice.html' /}
#{set title:'Accueil BackOffice' /}

<br/>
<br/>

Que voulez vous faire ?<br/>

<ul>
    <li><a href="/backoffice/gestionPates">Gestionnaire de Pates</a></li>
    <li><a href="/backoffice/gestionTailles">Gestionnaire de Taille/Prix</a></li>
    <li><a href="/backoffice/gestionSauces">Gestionnaire de Sauce</a></li>
    <li><a href="/backoffice/gestionGarnitures">Gestionnaire de Garnitures</a></li>
</ul>
<br/>
<br/>

<a href="/backoffice/historiqueCommande">Historique des commandes</a>